.animation-weight-1 {

  animation: animation-weight-1 0.1s ease-in-out forwards;

}

.animation-weight-2 {

  animation: animation-weight-2 5s ease-in-out forwards;

}

.animation-weight-3 {

  animation: animation-weight-3 1s ease-in-out forwards;

}

@keyframes animation-weight-1 {

  0% {
    rotate: 0deg;
    transform-origin: 95% 50%;
  }

  100% {
    rotate: -10deg;
    transform-origin: 95% 50%;
  }
  
}

@keyframes animation-weight-2 {

  0% {
    rotate: -10deg;
    transform-origin: 95% 50%;
  }

  25% {
    rotate: -150deg;
    transform-origin: 95% 50%;
  }

  50% {
    rotate: -45deg;
    transform-origin: 95% 50%;
  }

  75% {
    rotate: -110deg;
    transform-origin: 95% 50%;
  }

  90% {
    rotate: -80deg;
    transform-origin: 95% 50%;
  }

  100% {
    rotate: -90deg;
    transform-origin: 95% 50%;
  }
  
}

@keyframes animation-weight-3 {

  0% {

    rotate: -90deg;
    transform-origin: 95% 50%;

  }

  100% {

    rotate: -90deg;
    transform-origin: 95% 50%;
    translate: 0 100dvh;

  }

}