body {

  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {

  background: var(--linear-color-gradient);
  background-clip: text;
  color: transparent;

  font-size: 7.5dvw;
  text-align: center;

}