@media (width > 600px) {

  h1 {

    font-size: 5dvw;

  } 

}

@media (width > 1100px) {

  body {

    padding-top: 35dvh;

  }

  h1 {

    font-size: 4dvw;

  } 

}

@media (width > 1650px) {

  h1 {

    font-size: 3dvw;

  } 

}